[Unit]
Description=Monitor de conexão e reboot automático

[Service]
ExecStart=%h/.local/bin/network-monitor
Restart=always

[Install]
WantedBy=default.target
